@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {
    --color-light-50: #F8FAFC;

    --color-dark-50: #797984;
    --color-dark-100: #312D37;
    --color-dark-900: #000000;

    --color-purple-50: #7C3AED;
    --color-purple-100: #A855F7;
    --color-purple-200: #BF46EF;

    --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200));
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    align-items: center;
    background: var(--color-gradient);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

#login_form {
    animation: dark-to-light 0.3s ease-in-out;
    background-color: var(--color-light-50);
    border-radius: 8px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: fit-content;
    padding: 30px 40px;
}

#form_header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#form_header h1 {
    font-size: 40px;
    position: relative;
}

#form_header h1::before {
    background-color: var(--color-purple-50);
    border-radius: 5px;
    bottom: 10px;
    content: '';
    height: 3px;
    position: absolute;
    width: 40%;
}

#mode_icon {
    cursor: pointer;
    font-size: 20px;
}

#social_media {
    display: flex;
    justify-content: space-around;
}

#social_media img {
    width: 35px;
}

#social_media img:hover {
    transform: scale(1.2);
}

#inputs {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.input-box label {
    font-size: 14px;
    color: var(--color-dark-50);
}

.input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-purple-50);
}

.input-field i {
    font-size: 18px;
    color: var(--color-dark-900);
}

.input-field input {
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 18px;
    padding: 0 5px;
}

.input-field input:focus {
    outline: none;
}

#forgot_password a {
    color: var(--color-dark-50);
    font-size: 12px;
    text-decoration: none;
}

#forgot_password a:hover {
    color: var(--color-purple-50);
}

#login_button {
    background: var(--color-gradient);
    border: none;
    border-radius: 3px;
    color: var(--color-light-50);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 7px;
}

#login_button:hover {
    transform: scale(1.05);
}

@media (max-width: 450px) {
    #login_form {
        width: 80%;
    }

    #inputs input {
        width: 100%;
    }
}

.dark#login_form {
    animation: light-to-dark 0.3s ease-in-out;
    background-color: var(--color-dark-100);
    color: var(--color-light-50);
}

.dark#login_form .input-field input,
.dark#login_form .input-field i {
    color: var(--color-light-50);
}

@keyframes dark-to-light {
    0% {
        background-color: var(--color-dark-100);
    }

    100% {
        background-color: var(--color-light-50);
    }
}

@keyframes light-to-dark {
    0% {
        background-color: var(--color-light-50);
    }

    100% {
        background-color: var(--color-dark-100);
    }
}